* {
margin: 0;
box-sizing: border-box;
font-size: 14px;
font-family: Arial, sans-serif;
}

body {
height: 100vh;
display: flex;
flex-direction: column;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
background: #4682B4;
color: white;
padding: 15px 0;
position: sticky;
top: 0;
}

.page_header {
font-size: 25px;
display: flex;
justify-content: space-between;
align-items: center;
}

.page_title {
font-size: 24px;
font-weight: bold;
display: flex;
justify-content: flex-start;
padding: 10px;
}

.page_author {
display: flex;
justify-content: flex-end;
padding: 10px;
}

main {
background: #B0C4DE;
flex: 1;
display: flex;
flex-wrap: flex;
gap: 20px;

}

.article_info {
    display: flex;
}

.article_date {
    display: flex-start;
    color: #555;
    margin-bottom: 5px;
}

.article_title {
    display: flex-end;
    font-weight: bold;
}

.content_main {
    flex: 2 1 65%;
}

.content_sub {
    flex: 1 1 30%;
}


footer {
background: #4682B4;
display: flex;
align-items: flex-start;
}
